{% extends 'base.html' %} 

{% block title %}
RSA ATTACK
{% endblock %}

{% block submenu %}
    <div class="topper">
        <nav>
            <h3>RSA sub-topics</h3>
            <ul>
                <li><a href="{{ url_for('rsa.rsa') }}">RSA Overview</a></li>
                <li><a href="{{ url_for('rsa.sslExample') }}">RSA Example - SSL</a></li>
                <li><a href="{{ url_for('rsa.rsaAttack') }}">Attacking RSA</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block header %}
<script src="{{ url_for('static', filename='rsa-attack.js') }}" defer></script>
<h2>RSA ATTACK</h2>
{% endblock %}

{% block content %}
<div class="field">
    <div class="box" id="col1">
        <h3>Shor's Algorithm, generally</h3>
        <p>
            This algorithm proposed by Peter Shor (in the 90s!) describes a way to factor large numbers much more efficiently on a quantum machine than classical. 
            The idea is that we can use the order of a modular exponent function to begin to factor numbers.<br>
            For example, to factor a large $N = pq$, where $p$ and $q$ are primes, we choose integers $a$ such that $2 < a < N-1$. We calculate two values:
            <ul>
                <li>$\gcd(a,N)$ - if this is not 1, it should be $p$ or $q$ and we are done.</li>
                <li>$r =$ order($a$) modulo $N$ - if it's odd, we choose a new a. If it's even, we continue.</li>
            </ul>
            Once we have found $a$ with an even order modulo $N$, we can use the identity: 
            $$a^r - 1 = (a^{\frac{r}{2}} - 1)(a^{\frac{r}{2}} + 1)$$
            From this, we know that $a^{\frac{r}{2}} - 1$ is not a factor of N (otherwise the order of a would be $\frac{r}{2}$, because $a^r \equiv 1 \pmod{N}$)
            This is possible only if $p$ is a prime factor of $a^{\frac{r}{2}} - 1$  and $q$  is a prime factor of $a^{\frac{r}{2}} + 1$, or vice versa. 
            It's easy to find $p$ and $q$ now -- we can just calculate $\gcd(N, a^{\frac{r}{2}} \pm 1 )$. <br>
            This will NOT work when $N | (a^{\frac{r}{2}} + 1)$. So we just pick a new $a$ and start the process over. 
        </p>
        <p>
            We can factor large numbers in this way, and quantum computers have the potential to be pretty good at finding the order of a number modulo another. I won't get into 
            more details than this, we have a lot more material to dive into. But when we talk about Shor's algorithm, this is what is going on, underneath the hood. 
        </p>
    </div>
    
    <div class="box" id="col2">
        <h3>Visualizing Shor's Algorithm</h3>
        <img src="{{ url_for('static', filename='shor-figure.png') }}" width="80%"/>
        <div class="animation">
            <form class="alg_entry">
                <label>Classical Computer</label>
                <select id="factoring_alg">
                    <option>General Number Field Sieve</option>
                    <option>Quadratic Sieve</option>
                </select>
                <br>
                <label>Quantum Computer</label>
                <select>
                    <option>Shor's Algorithm</option>
                </select>
                <br>
                <button>Run</button>
            </form>
        
            <div class="classical">
                <div id="count_c"></div>
            </div>
            <div class="quantum">
                <div id="count_q"></div>
            </div> 
            <span id="running_note"></span>
        </div>
        
        <p>
            Sometimes the classical algorithm will beat Shor's algorithm -- it really depends on the numbers chosen. However, a stable running version of 
            Shor will almost always beat the sieves. This is an animation only showing the (accurate!) speed difference between the algorithms for large numbers. 
        </p>
    </div>
</div>


{% endblock %}