{% extends 'base.html' %}

{% block title %}
RSA OVERVIEW
{% endblock %}

{% block submenu %}
<nav>
    <h3>RSA sub-topics</h3>
    <ul>
        <li><a href="{{ url_for('rsa.rsa') }}">RSA</a></li>
        <li><a href="{{ url_for('rsa.sslExample') }}">RSA Example - SSL</a></li>
        <li><a href="{{ url_for('rsa.rsaAttack') }}">Attacking RSA</a></li>
    </ul>
</nav>
<div class="line"></div>
{% endblock %}

{% block header %}
<h2>RSA OVERVIEW</h2>
{% endblock %}


{% block content %}
<script src="{{ url_for('static', filename='rsa.js') }}" defer></script>
<div class="field">
    <div class="text">
        <h3>RSA key generation steps</h3>
        <ol>
            <li>Choose 2 distinct primes, $p$ and $q$</li>
            <ul>
                <li>$p = 1163$</li>
                <li>$q = 149$</li>
            </ul>
            <li>Compute $n = pq$</li>
            <ul>
                <li>$n = pq = 1163(149) = 173287$</li>
            </ul>
            <li>Compute toteint of n, $\phi(n)$</li>
            <ul>
                <li>$\phi(173287) = 171976$</li>
            </ul>
            <li>Choose a number $e$ that is $1 < e < 85988$ AND such that $e$ is coprime with $\phi(n) = 173287$ </li>
            <ul>
                <li>Let $e = 173$</li>
                <li>$e$ will be our Encryption exponent</li>
            </ul>
            <li>Compute the multiplicative inverse of e (mod $\phi(n)$), ie. compute $173^{-1}$ modulo 173287. </li>
            <ul>
                <li>$d = 173^{-1} = 44073 \pmod{173287}$</li>
            </ul>
            <li>We now have a public/private key pair:</li>
            <ul>
                <li>Public key: n, e</li>
                <li>Private key: n, d</li>
            </ul>
            <li>We can encrypt a padded message $m$ as $m^e \% n$</li>
            <ul>
                <li>Let's encrypt the message "hi" (unicode)</li>
                <li>Convert "hi" to binary: hi = 104 105 = 01101000 01101001 = 26729 </li>

                <li>$c \equiv 26729^{173} \pmod{173287} \equiv 40434$</li>
                <li>40434 = 10011101 11110010 = 157 242 = <span id="cryptex"></span></li>
                
            </ul>
        </ol>
    </div>
    <div class="interactive">
        <h3>Interactive Math</h3>
        <p>
            Try it out :p<br>
            Enter a two letter string below to see it get encrypted using these RSA keys.<br>
            <strong>Question</strong>: why are we limited to only two letters?
        </p>
        <div>
            <form>
                <label>Plaintext: </label>
                <input placeholder="hi" id="plaintext"></input>
                <button>Go!</button>
            </form>
            <div class="interactive_results">
                <p>
                    <span id="results"></span>
                </p>
            </div>
        </div>
        <p>
            Maybe I will add a decrypter here as well!
        </p>
    </div>
</div>
{% endblock %}

