{% extends 'base.html' %}

{% block title %}
ECC EXAMPLE - SIGNAL
{% endblock %}

{% block submenu %}
<div class="topper">
    <nav>
        <h3>ECC sub-topics</h3>
        <ul>
            <li><a href="{{ url_for('ecc.ecc') }}">ECC Overview</a></li>
            <li><a href="{{ url_for('ecc.eccdh') }}">ECC Example - AES</a></li>
            <li><a href="{{ url_for('ecc.eccAttack') }}">Attacking ECDH</a></li>
        </ul>
    </nav>
</div>

{% endblock %}

{% block header %}
<h2>AES with Elliptic Curves</h2>
{% endblock %}


{% block content %}
<script src="{{ url_for('static', filename='ecc-dh.js') }}" defer></script>
<div class="field">
    <div class="text box">
        <h3>Messaging Encryption - AES and Elliptic Curves</h3>
        <p>
            Let's learn about how AES works. It's the advanced encryption standard, developed in the late 90s, and still used today.  
            Once a key is established using ECDH, we can use this key to encrypt our data using AES.
        </p>
        <p>
            AES is a block cipher, <em>round-based</em>, encryption scheme. This means that it will split our plaintext into blocks, and perform 
            operations on these blocks in rounds. We will examine each round of AES below. 
        </p>
        
    </div>
    <div class="interactive box">
        <h3>Interactive Math</h3>
        <p>
            Let's encrypt using AES! We'll use ECDH to exchange keys, and then encrypt and decrypt messages. <br>
            <button id="key-trigger">Begin ECDH key exchange</button><br>
            <span id="key-area"></span>
        </p>
    </div>
</div>
{% endblock %}