:root {
    --background-color: #e3e4e6;
    --menu-items-main: #313131;
    --menu-items-sub: #d2691e;
    --text-color: 	#313131;
} 

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1.3rem;
}

nav {
    padding-left: 1.3rem;
}

.submenu {
    margin-bottom: 2rem;
}

.mono {
    font-family: 'Courier New', Courier, monospace
}

.code {
    font-family: 'Monaco';
    font-size: 12pt;
}

a {
    text-decoration: none;  
    target: "blank";
}

a:hover {
    text-decoration: underline;
}

li > a:hover {
    font-weight: bold;
}

nav > ul, nav > ul > li > ul {
    list-style-type: none;
    padding-left: 0;
}

nav > ul > li > ul {
    display: none;
}
nav > ul {
    display: flex;
}

nav > ul > li > a {
    color: var(--menu-items-main); 
    margin: 1rem 2rem 3rem 4rem;
    padding: 1rem;
    background-color: #f7d0cb;
    border: 2px solid var(--text-color);
    border-radius: 25px;
}

nav > ul > ul > li > a {
    color: var(--menu-items-sub); 
    padding-left: 1rem;
}

/* .content{
    padding: 3rem;
} */

table, th, td {
    border:1px solid red;
    word-wrap: break-word;
}

#ssl-table {
    table-layout: fixed;
    width: 100%;
}

th, td {
    padding: 10px;
}

.field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    margin: 3rem;
    padding: 1rem;
}

.text {
    grid-column: 1;
}

.interactive {
    grid-column: 2;
}

#p1res {
    display: none;
}

.animation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 20%;
}

.classical {
    border: 2px solid green;
    grid-column: 1;
    padding: 5%;
}

.quantum {
    border: 2px solid orange;
    grid-column: 2;
    padding: 5%;
}

.col2 {
    padding-left: 5rem;
}

img {
    border: 2px solid black;
}

.line {
    margin: 2rem 0;
    height: 2px;
    background: var(--text-color);
}