<!DOCTYPE html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<h1>Post-Quantum Cryptography (whenever it comes)</h1>
<nav>
    <h3>Topics</h3>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('rsa') }}">RSA</a>
        <ul>
            <li><a href="{{ url_for('sslExample') }}">RSA Example - SSL</a></li>
            <li><a href="{{ url_for('rsaAttack') }}">Attacking RSA</a></li>
        </ul></li>
        <li><a href="#">Eliptic Curve Cryptography (ECC)</a>
        <ul>
            <li><a href="#">ECC Example - Diffie Hellman</a></li>
            <li><a href="#">Attacking ECC</a></li>
        </ul></li>
        <li><a href="{{ url_for('reading') }}">Further Reading</a></li>
        
      </ul>
</nav>
<div>
    <p class="mono">========================================</p>
</div>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
</section>
<script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
    </script>
    <script id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>