{% extends 'base.html' %} 

{% block header %} 
<h2>FURTHER READING</h2>
{% endblock %}

{% block content %} 
<p>
    I would call this a bibliography, but that would be pushing it. At worst I skimmed these and they
    informed this site, or they just seemed interesting.
</p>
<ul>
    <li><a href="http://crypto.stanford.edu/~dabo/papers/ssl-timing.pdf">This paper on remote timing attacks on SSL</a></li>
</ul>
<p>
    I am using a cool js library called MathJax to render the Tex. Flask backend and js front. 
</p>
{% endblock %}