{% extends 'base.html' %} 

{% block title %}
RSA ATTACK
{% endblock %}

{% block header %}
<h2>RSA ATTACK</h2>
{% endblock %}

{% block content %}
<p>
    RSA is only as secure as the numbers chosen are large. As we know, the secuirty of RSA depends 
    on the difficulty of fatoring large primes. Before discussion of quantum computing (below), we will 
    discuss methods for attacking RSA using classical computers. 
</p>
<br>
<p>
    I have encrypted the rest of the page using RSA. Let's figure out what I'm hiding...
</p>
<p>
    Here are the contents of the public key file:
    <br><br>
    <span class="mono">
        -----BEGIN PUBLIC KEY-----<br>
        MDwwDQYJKoZIhvcNAQEBBQADKwAwKAIhANrdDdhzUHCHfFEnCIKLmIcHj0ZZEVVD<br>
        M7L3KG1EXjFFAgMBAAE=<br>
        -----END PUBLIC KEY-----
    </span>
</p>
<p>
    First, we need to figure out what we're working with. SSL encodes its RSA values using PEM, 
    then encodes PEM using Base64, which is what we see above. Decoding the base 64 gives us:<br>
    <span class="mono">
        [bits] => 256<br>
        [rsa] => Array<br>
        (<br>
            [n] => dadd0dd8735070877c512708828b9887078f465911554333b2f7286d445e3145<br>
            [e] => 010001<br>
        )<br>
    </span>
    A quick note about key sizing: I used 256 bits (the minimum OpenSSL would allow me). IBM says that the following keysizes should be used:
    <table>
        <tbody>
            <tr>
                <th>Security Level</th>
                <th>Bits</th>
            </tr>
            <tr>
                <td>Low</td>
                <td>512</td>
            </tr>
            <tr>
                <td>Medium</td>
                <td>1024</td>
            </tr>
            <tr>
                <td>High</td>
                <td>2048</td>
            </tr>
            <tr>
                <td>...</td>
                <td>4096</td>
            </tr>
        </tbody>
    </table>
    <br>
    So we're almost done! We know n, we know e, all we have to do is compute the inverse of e modulo n!
</p>
<p>
    n = dadd0dd8735070877c512708828b9887078f465911554333b2f7286d445e3145 is a pretty big number. In fact, it is:<br>
    98,994,769,750,663,088,444,638,443,860,066,085,464,244,046,600,910,710,754,358,494,081,803,259,621,701<br>
    which is about 9.8 * 10^76. The Euclidean algorithm will be so easy on this =)
</p>
<p>
    So, we probably can't calculate it. Sad for us, but probably good for the security of the internet. 
    It would take us a pretty long time to calculat 
</p>

{% endblock %}