{% extends 'base.html' %}

{% block title %}
RSA EXAMPLE - SSL
{% endblock %}

{% block header %}
<h2>RSA EXAMPLE - SSL</h2>
<script src="{{ url_for('static', filename='ssl.js') }}" defer></script>
{% endblock %}


{% block content %}
<p>
    SSL/TLS is how we encrypt data on the transport layer (OSI model) of network transfers.<br>
    We use RSA-based SSL/TLS certificates. <br>
    We can generate these certificates using a program called OpenSSL. 
</p>
<p>
    OpenSSL will generate real, valid RSA key pairs to be used in certifcate signing. <br>
    I made the keys as short as allowable, but it wouldn't let me make a key with less than 256 bits in the modulus
</p>
<p>
    Encryption: $m^e \pmod{n}$<br>
    Decryption: $c^d \pmod{n}$
</p>
<ol id="steps">
    <li>
        <div>
            <button id="priv-key">Generate SSL Keys (OpenSSL)</button>
            <ul>
                <li>This will give us something like:</li>
                <div id="res">
                    <table>
                        <tr>
                            <th>Component</th>
                            <th>Value</th>
                        </tr>
                    </table>
                </div>
            </ul>
        </div>
    </li>
    
    <br>
    <br>
    <li>
        <div>
                <p>Ok, let's encrypt something. SSL is used to encrypt data across a network, so let's encrypt a website.</p>
                <form method="post">
                    <label for="plaintext">Enter a web URL:</label>
                    <br>
                    <input id="plaintext" name="plaintext" placeholder="www.google.com"></input>
                    <br>
                    <input type="submit" value="Submit">
                </form>
        </div>
    </li>
    <li>
        <p>Here's our encrypted text:</p>
        <div id="ciphertext">

        </div>
    </li>


{% endblock %}